<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="img/Sativa.png">
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <a href="{{github}}"><img class="portrait" src="img/GitHub.png"></a>
        </div>
    </body>

    {{>footer}}
</html>