<!DOCTYPE html>

<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="img/Sativa.png">
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <div class="main-content">
            <header>

                <h1>{{title}}</h1>
                <div class="navbar">
                    Enter a location to start.
                </div>

            </header>

            <div id="weather">
                <form>
                    <input placeholder="Location">
                    <button>Search</button>
                </form>

                <p id="error">

                </p>

                <p id="success">

                </p>
            </div>
        </div>

            <div id="others"></div>
                <p>
                    <h3>CREDITS</h3>
                    <ul>Geocode API: Mapbox</ul>
                    <ul>Weather API: Dark Sky</ul>
                    <h3>CREATED WITH</h3>
                    <ul>Node.js</ul>
                </p>

                <a href="{{github}}"><img class="portrait" src="img/GitHub.png"></a>

            </div>
        </div>
        {{>footer}}

        <script src="./js/app.js"></script>
    </body>

</html>